/* style.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: url('abstract-dynamic-blue-background-free-vector.jpg') no-repeat center center fixed;
  background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* oscurecer ligeramente el fondo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 350px;
}

.logo {
  max-width: 120px;
  margin-bottom: 30px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #0033a0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #001f5c;
}
